@font-face {
  font-family: "Mozilla Text Light";
  /* Use a relative path to the local font file in `url()`. */
  src: url("./MozillaText-Light.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
